.navbar__logo {
    background: url('../images/logo-aloha.svg') no-repeat;
    width: 96px;
    height: 24px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

.navbar-toggler:focus {
    outline: 0;
}

.navbar__dropdown-menu {
    border: none;

    @include media-breakpoint-up(md) {
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
}