.custom-rounded {
    border-radius: $custom-border-radius !important;
}

.custom-rounded-lg {
    border-radius: $custom-border-radius-lg !important;
}

.custom-rounded-md-lg {
    @include media-breakpoint-up(md) {
        border-radius: $custom-border-radius-lg !important;
    }
}

.custom-rounded-top-lg {
    border-top-right-radius: $custom-border-radius-lg !important;
    border-top-left-radius: $custom-border-radius-lg !important;
}

.custom-rounded-bottom-lg {
    border-bottom-right-radius: $custom-border-radius-lg !important;
    border-bottom-left-radius: $custom-border-radius-lg !important;
}

.rounded-md-left-lg {
    @include media-breakpoint-up(md) {
        border-top-left-radius: $custom-border-radius-lg !important;
        border-bottom-left-radius: $custom-border-radius-lg !important;    
    }
}

.border-md-bottom {
    @include media-breakpoint-up(md) {
        border-bottom: $border-width solid $border-color !important;
    }
}

.border-md-0 {
    @include media-breakpoint-up(md) {
        border: 0 !important;
    }
}