.hover {
    &__bg--secondary {
        &:hover {
            background: $secondary !important;
        }
    }

    &__text--primary {
        &:hover {
            color: $primary !important;
        }
    }
    
    &__bg--shadow {
        &:hover {
            box-shadow: $box-shadow !important;
        }
    }
}