.hover {
    
    &__bg--secondary {
        transition: background 0.3s;
        &:hover {
            background: $secondary !important;
        }
    }

    &__text--primary {
        &:hover {
            color: $primary !important;
        }
    }
    
    &__bg--shadow {
        transition: box-shadow 0.3s;
        &:hover {
            box-shadow: $box-shadow !important;
        }
    }

    &__filter--darken {
        transition: filter 0.3s;
        &:hover {
            filter : brightness(60%) !important;
        }
    }
}