.card{
    &-title{
        font-size: get-font-size(base);
    }

    &-info{
        font-size: get-font-size(s);
        color: $info;

        &-s{
            font-size: get-font-size(xs);
            color: $info;
        }
    }
}

.card-img-top,.card-img {
    border-radius: $custom-border-radius-lg;
}

.card-img-overlay {
    padding: 16px 24px;
}