.search-bar {

    &__content {
        height: 56px;
        padding: 0 8px;
        background: #fff;
        border-radius: $custom-border-radius;    

        @include media-breakpoint-up(lg) {
            padding: 0 16px;
        }

        &__title {
            font-size: get-font-size(xs);
            font-weight: bold;
            text-transform: uppercase;
            display: block;
        }

        &__subtitle {
            font-size: get-font-size(s);
            display: block;
            color: $info;
            // white-space: nowrap;
        }
    }
}