<!-- Footer starts -->
<div class="container py-10 border-top">
    <div class="d-flex justify-content-between flex-md-row flex-column-reverse flex-column align-items-center">
        <span class="font-s mr-lg-17 text-info">© 2020 ALOHA, Inc. All rights reserved.</span>
        <ul class="d-flex mb-md-0 mb-6">
            <li>
                <a class="font-s text-info mr-10" href="#">FAQs</a>
            </li>
            <li>
                <a class="font-s text-info mr-10" href="#">Terms of use</a>
            </li>
            <li>
                <a class="font-s text-info" href="#">Privacy policy</a>
            </li>
        </ul>
    </div>
</div>
<!-- Footer ends -->