<!-- Footer starts -->
<div class="container py-10">
    <div class="row justify-content-between">
        <div class="col-lg-7 d-flex flex-md-row flex-s-column-reverse align-items-center align-items-md-start justify-content-md-between justify-content-lg-start">
            <span class="font-s mr-lg-17 text-info">© 2020 ALOHA, Inc. All rights reserved.</span>
            <ul class="d-flex mb-md-0 mb-6">
                <li>
                    <a class="font-s text-info mr-10" href="#">FAQs</a>
                </li>
                <li>
                    <a class="font-s text-info mr-10" href="#">Terms of use</a>
                </li>
                <li>
                    <a class="font-s text-info" href="#">Privacy policy</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 d-lg-block d-none">
            <ul class="d-flex justify-content-end">
                <!-- Footer language dropdown starts -->
                <li class="dropdown mr-10">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="material-icons">language</span>
                        <span class="font-s text-info">English</span>
                    </a>
                    
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item font-s" href="#">English</a>
                        <a class="dropdown-item font-s" href="#">中文</a>
                        <a class="dropdown-item font-s" href="#">日文</a>
                    </div>
                </li>
                <!-- Footer language dropdown ends -->
                <!-- Footer currency dropdown starts -->
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="material-icons">attach_money</span>
                        <span class="font-s text-info">TWD</span>
                    </a>
                    
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item font-s" href="#">TWD</a>
                        <a class="dropdown-item font-s" href="#">USD</a>
                        <a class="dropdown-item font-s" href="#">JPY</a>
                    </div>
                </li>
                <!-- Footer currency dropdown ends -->
            </ul>
        </div>
    </div>
</div>
<!-- Footer ends -->