<nav class="navbar navbar-expand-md navbar-light">
    <div class="container flex-s-row-reverse flex-md-row">
        <a class="d-s-block d-md-none" href="./login.html">Login</a>
        <a class="navbar-brand" href="./index.html">
            <h1 class="navbar__logo">
                ALOHA
            </h1>
        </a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <!-- Navbar dropdown starts -->
            <li class="nav-item dropdown mr-16">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="material-icons">language</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">中文</a>
                <a class="dropdown-item" href="#">日文</a>
              </div>
            </li>
            <!-- Navbar dropdown ends -->
            <li class="nav-item mr-16">
                <a class="nav-link" href="#">Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-s-none d-md-block" href="./login.html">Login</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>