<nav class="w-100 position-md-absolute">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="py-md-10 py-6">
            <a class="navbar-brand" href="./index.html">
                <h1 class="navbar__logo">
                    ALOHA
                </h1>
            </a>
        </div>
        <a class="d-md-none d-block" href="./index.html">
            <span class="material-icons">close</span>
        </a>
    </div>
</nav>