<div class="bg-secondary">
    <form class="container" action="#">
        <!-- Location starts -->
        <div class="dropdown mr-lg-6 mb-lg-0 mb-6 w-100" id="js-dropdown-destinations">
    
            <a href="#" class="js-destinations-input d-block" id="guests" data-toggle="dropdown">
                <div class="search-bar__content d-flex align-items-center">
                <span class="material-icons mr-6">location_on</span>
                <span class="text-info w-100">Destination</span>  
                </div>  
            </a>

            <div class="dropdown-menu w-100 mt-2 border-0 shadow" aria-labelledby="destination">
                <a class="dropdown-item d-flex hover__bg--secondary js-search-bar-destination" href="#">
                <span class="material-icons mr-2">star</span>
                <ul>
                    <li>Bangkok</li>
                    <li class="font-xs text-info d-block">Thailand</li>
                </ul>
                </a>
                <a class="dropdown-item d-flex hover__bg--secondary js-search-bar-destination" href="#">
                <span class="material-icons mr-2">star</span>
                <ul>
                    <li>Osaka</li>
                    <li class="font-xs text-info d-block">Japan</li>
                </ul>
                </a>
                <a class="dropdown-item d-flex hover__bg--secondary js-search-bar-destination" href="#">
                <span class="material-icons mr-2">star</span>
                <ul>
                    <li>Roma</li>
                    <li class="font-xs text-info d-block">Italy</li>
                </ul>
                </a>
                <a class="dropdown-item d-flex hover__bg--secondary js-search-bar-destination" href="#">
                <span class="material-icons mr-2">star</span>
                <ul>
                    <li>Paris</li>
                    <li class="font-xs text-info d-block">London</li>
                </ul>
                </a>
                <a class="dropdown-item d-flex hover__bg--secondary js-search-bar-destination" href="#">
                <span class="material-icons mr-2">star</span>
                <ul>
                    <li>Reykjavík</li>
                    <li class="font-xs text-info d-block">Iceland</li>
                </ul>
                </a>
            </div>
            </div>
            <!-- Location ends -->
    </form>
</div>