<!-- Subscribe-l starts -->
<div class="bg-secondary">
    <div class="container py-md-19 py-10">
        <form action="#" class="row justify-content-center" method="POST">
            <div class="col-lg-8">
                <label for="subscribe-email" class="mb-md-10 mb-s-6 font-title font-md-xl font-s-m font-weight-lg-extra-bold font-weight-bold letter-spacing-m0125 text-center w-100">
                    Subscribe for Exclusive Offer
                </label>
            </div>
            <div class="col-lg-6 col-md-10">
                <div class="input-group input-group-lg">
                    <input type="email" id="subscribe-email" class="form-control font-base h-auto" placeholder="Your email address" aria-label="Your email address" aria-describedby="button">
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-primary font-base px-md-13 px-6 py-6 font-weight-bold" type="button" value="SUBSCRIBE">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Subscribe-l ends -->