<div class="bg-secondary">
    <div class="container py-10">
        <form action="#" class="row justify-content-center align-items-center" method="POST">
            <div class="col-lg-5 col-md-4">
                <label for="subscribe-email" class="mb-s-6 mb-md-0 font-title font-lg-l font-m font-weight-bold letter-spacing-m0125 text-center w-100">
                    Subscribe for Exclusive Offer
                </label>
            </div>
            <div class="col-lg-7 col-md-8">
                <div class="input-group input-group-lg">
                    <input type="email" id="subscribe-email" class="form-control font-base h-auto" placeholder="Your email address" aria-label="Your email address" aria-describedby="button">
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-primary font-base px-md-13 px-6 py-6 font-weight-bold" type="button" value="SUBSCRIBE">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>